*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:blueviolet;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:40px;
border: 2px solid black;
border-radius:12px;
width:420px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
margin-bottom:10px;
color:#0f172a;
}

.subtitle{
margin-bottom:25px;
color:#555;
}

.contact-box{
display:flex;
flex-direction:column;
gap:20px;
margin-bottom:25px;
}

.contact-item{
background:#f1f5f9;
padding:15px;
border-radius:8px;
display:flex;
align-items:center;
gap:12px;
font-size:18px;
transition:0.3s;
}

.contact-item:hover{
background:#e2e8f0;
transform:scale(1.05);
}

.contact-item i{
font-size:22px;
color:#0f172a;
}

.contact-item a{
text-decoration:none;
color:#0f172a;
font-weight:bold;
}

/* WhatsApp Button */

.whatsapp{
display:inline-block;
background:#25D366;
color:white;
padding:14px 20px;
border-radius:8px;
text-decoration:none;
font-size:18px;
transition:0.3s;
}

.whatsapp i{
margin-right:8px;
}

.whatsapp:hover{
background:#1ebe5d;
}